body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin: 0 auto;
  }
h1,h3 {
    text-align: center;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

input {
    height: 20px;
    display: block;
    margin: 0 auto;
  }

.tweet {
    text-align: center;
    margin-top: 10px;
}
a {
    display: inline-block;
}
